body {
    max-height: 90%;
    margin-left: 5px;
    margin-top: 5px;
    background-color: black;
    color: WHITE;
}

#game-canvas {
    max-height: calc(100vh - 60px);
    max-width: 80vw;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;

    background-color: rgb(238, 238, 238);
}

#stats > p {
    padding-left: 5px;
    font-weight: bold;
}

.heroHp {
    color: red;
}.heroMp {
    color: lightseagreen;
}.userGold {
    color: yellow;
}